:root {
  --picton-light-blue: rgba(88, 179, 246, 255);
  --picton-dark-blue: rgba(10, 128, 217, 255);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--picton-light-blue)),
      to(var(--picton-dark-blue))
    )
    fixed;
  font-family: "Shadows Into Light", cursive;
  text-align: center;
}

h1 {
  margin-top: 30px;
  font-size: 2.8rem;
  color: white;
}

.catalog {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.book {
  width: 150px;
  height: 200px;
  background-color: white;
  margin: 60px;
  border: 2px solid black;
  /* Futher book design */
}
