:root {
  --picton-blue-light: rgba(88, 179, 246, 255);
  --picton-blue-dark: rgba(10, 128, 217, 255);
  --shelf-primary: rgba(158, 201, 250, 255);
  --shelf-secondary: rgba(215, 232, 249, 255);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--picton-blue-light)), to(var(--picton-blue-dark))) fixed;
  font-family: "Shadows Into Light", cursive;
  text-align: center;
}

h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 2.8rem;
  background-color: white;
}

.catalog {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.book {
  width: 150px;
  height: 200px;
  background-color: white;
  margin: 60px;
  border: 2px solid black;
  /* Futher book design */
}

.add-button {
  color: rgba(0, 138, 94, 0.8);
  font-size: 34px;
  position: fixed;
  width: 60px;
  height: 60px;
  right: 0;
  bottom: 0;
  margin: 20px;
  padding-top: 2.5px;
  padding-left: 1px;
  border-radius: 50%;
  background-color: rgba(156, 243, 138, 0.9);
  transition: bottom 0.3s ease;
}

.add-button:hover {
  background-color: rgba(156, 243, 138, 1);
  cursor: pointer;
  bottom: 10px;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: black;
  z-index: 999;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 400px;
  margin: -200px 0 0 -150px;
  background-color: beige;
  z-index: 1000;
}

.popup h2 {
  padding: 20px 0;
}

#title,
#author,
#pages {
  width: 250px;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 24px;
}

.book-status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-bottom: 10px;
}

#status-label {
  cursor: pointer;
  user-select: none;
}

#status {
  height: 20px;
  width: 20px;
  margin-left: 20px;
  cursor: pointer;
}

#submit {
  width: 80px;
  height: 50px;
}

/* .front-desk {
  width: 60%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.front-desk input {
  margin-right: 40px;
  height: 20px;
  padding-left: 10px;
}

.add-button {
  font-size: 20px;
  width: 80px;
  height: 30px;
  background-color: white;
} */
